<div class="row">
  <div class="large-12 columns">
  <h1> Search Results for.. "<%= params[:q] %>" </h1>
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <% @results.results.each do |result| %>
        <li>
          <a href="<%= tutorial_path(result.id) %>"><%= image_tag(result.cover_photo.cover_photo.thumb.url) %></a>
          <div class="tile-title">
            <%= result.title %>
            <%= result.video_duration %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
