<div class="row">
  <div class="large-12 columns">
  <h1> Search Results for "<%= params[:q] %>" </h1>
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <% @results.results.each do |result| %>
        <li>
          <a href="<%= tutorial_path(result.id) %>">
          <div class="tile-title">
            <h5 class="bold truncate"><%= result.title %></h5>
            <div><%= result.created_at.strftime('%F') %></div>
            <% if result.rating > 0 %>
              <div class="green">Rating <%= result.rating %></div>
            <% elsif result.rating < 0 %>
              <div class="red">Rating <%= result.rating %></div>
            <% else %>
              <div>Rating <%= result.rating %></div>
            <% end %>
          </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
