<h1> Search </h1>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


<% unless @tutorials.empty? %>
  <h4> Tutorials </h4>
  <ul>
    <% @tutorials.each do |tutorial| %>
    <li>
      <%= link_to(tutorial.title, tutorial_path(tutorial.id)) %>
      <%= tutorial.category %>
    </li>
    <% end %>
  </ul>
<% else %>
  <h4> No Tutorials Match Your Search </h4>
<% end %>


<% unless @users.empty? %>
<h4> User's </h4>


  <ul>
    <% @users.each do |user| %>
    <li>
      <%= link_to(user.username, user_path(user.id)) %>
    </li>
    <% end %>
  </ul>
<% else %>
  <h4> No User's Match Your Search </h4>
<% end %>
