<div id="profile-page" class="row">
  <div class="large-3 columns">
    <%= image_tag(@user.picture.url(:normal)) %>
  </div>
  <div class="large-4 columns">
    <ul class="profile-info">
      <li><%= @user.username %></li>
      <li><%= @user.first_name %> <%= @user.last_name %></li>
      <li><%= @user.email %></li>
      <% if @user.id == current_user.id %>
        <li><a href="#" class="button tiny" data-reveal-id="edit-user-modal">Edit Account</a></li>
        <li><a href="#" class="button tiny" data-reveal-id="new-tutorial-modal">Create Tutorial</a></li>
      <% end %>
    </ul>
  </div>


  <div class="large-12 columns">
    <h2><%= @user.id == current_user.id ? "My" : "#{@user.username}'s" %> Tutorials</h2>
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <% @tutorials.each do |tutorial| %>
          <li>
            <a href="<%= tutorial_path(tutorial.id) %>"><%= image_tag(tutorial.video_tile.thumb)%></a>
            <div class="tile-title"><%= truncate(tutorial.title, length: 21) %></div>
            <% if @user.id == current_user.id %>
              <a href="#" class="button tiny tutorial-option" data-reveal-id="edit-tutorial-modal">Edit</a>
              <%= link_to('Delete', tutorial_path(tutorial.id), method: :delete, data: {confirm: "Are you sure?"}, class: "button tiny alert tutorial-option") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
