<h1><%= @user.username %>'s Profile</h1>

<%= image_tag(@user.picture.url(:normal)) %>
<ul>
  <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
  <li>Email: <%= @user.email %></li>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit Account', edit_user_registration_path %>
<% end %>

<h2>Your Tutorials</h2>

<ul>

<% @tutorials.each do |t| %>

  <li><%= link_to t.title, tutorial_path(t.id) %></li>

<% end %>

</ul>
