<div id="edit-user-modal" class="reveal-modal" data-reveal>

  <h2>Edit Account</h2>

  <div>
    <%= form_for(@user, as: :user, url: registration_path(:user), html: { method: :put }) do |f| %>

      <div><%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true %></div>

      <div><%= f.label :last_name %><br />
      <%= f.text_field :last_name %></div>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %></div>

      <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %></div>

      <div class="field">
        <%= f.label :picture %><br>
        <%= f.file_field :picture %>
      </div>

      <div><%= f.submit "Save Changes" %></div>
    <% end %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
