<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Tutorials", tutorials_path %></li>
  <li><%= link_to "About", about_path %></li>
  <li class="last-item"><%= link_to "Contact", contact_path %></li>
</ul>

<div id="social-media">
  <a href="https://facebook.com" title="Facebook" target="_blank"><%= image_tag "facebook.png", alt: "Facebook" %></a>
  <a href="https://plus.google.com" title="Google+" target="_blank"><%= image_tag "googleplus.png", alt: "Google Plus" %></a>
  <a href="https://twitter.com" title="twitter" target="_blank"><%= image_tag "twitter.png", alt: "Twitter", class: "last-item" %></a>
</div>

<p>Copyright &copy; 2014 Patchatech.  All Rights Reserved.</p>
