<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Tutorials", tutorials_path %></li>
  <li><%= link_to "About", about_path %></li>
  <li class="last-item"><%= link_to "Contact", contact_path %></li>
</ul>

<div id="social-media">
  <%= image_tag "facebook.png", alt: "Facebook" %>
  <%= image_tag "googleplus.png", alt: "Google Plus" %>
  <%= image_tag "twitter.png", alt: "Twitter", class: "last-item" %>
</div>

<p>Copyright &copy; 2014 Patchatech.  All Rights Reserved.</p>
