<!DOCTYPE html>
<html>
<head>
  <title>Patchatech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if signed_in? %>
      <a href="<%= root_path %>">Home</a>
      <a href="<%= tutorials_path %>">Tutorials</a>
      <a href="<%= new_tutorial_path %>">New Tutorial</a>
      <a href="<%= edit_user_registration_path %>">Edit Account</a>
      <a href="<%= destroy_user_session_path %>">Sign Out</a>
    <% else %>
      <a href="<%= root_path %>">Home</a>
      <a href="<%= tutorials_path %>">Tutorials</a>
      <a href="<%= new_user_registration_path %>">Sign Up</a>
      <a href="<%= new_user_session_path %>">Sign In</a>
    <% end %>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
