<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title><%= content_for?(:title) ? yield(:title) : "Patchatech" %></title>

    <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag "/favicon.ico" %>
    <%= javascript_include_tag "vendor/modernizr", 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <header>
        <%= render 'layouts/navbar' %>
      </header>

      <div class="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <div class="main-content">
        <%= yield %>
        <a href="#" data-reveal-id="modal">Modal</a>
      </div>

      <footer>
        <%= render 'layouts/footer_navbar' %>
      </footer>

    </div>

    <div id="modal" class="reveal-modal" data-reveal>
      <h2>Title</h2>
      <p class="lead">Sub-header</p>
      <p>Some content</p>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
